@import "tailwindcss";

@theme {
    --font-hkgr: "HK Grotesk Reg", "sans-serif";
    --font-hkgb: "HK Grotesk Bold", "sans-serif";
}

@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}
.animate-slideIn {
  animation: slideIn 0.3s ease-out;
}

.scrollbar-thin {
  scrollbar-width: none;
}
.scrollbar-thumb-gray-300::-webkit-scrollbar-thumb {
  background-color: #d1d5db;
}
.scrollbar-track-gray-100::-webkit-scrollbar-track {
  background-color: #f3f4f6;
}

@font-face {
  font-family: "HK Grotesk Reg";
  font-display: swap;
  src: url("/fonts/hk-grotesk/HKGrotesk-RegularLegacy.ttf");
}

@font-face {
  font-family: "HK Grotesk Bold";
  font-display: swap;
  src: url("/fonts/hk-grotesk/HKGrotesk-Bold.ttf")
}
